<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.siasg.comprasnet">

    <application
        android:name=".ComprasNet"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_comprasnet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComprasNet">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Activity for login navigation -->
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>